@using PagedList
@using PagedList.Mvc

@model IPagedList<_1091606.Models.TableTeachers1091606>


@{
    ViewBag.Title = "老師資訊";
    Layout = "~/Views/Shared/_FirstLayout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>老師資訊-@ViewBag.cName</h2>

<div class="row">
    <div class="col-md-3">
        <p>@Html.ActionLink("全部", "LoginAllPageIndex", new { page = 1 }) </p>
        @foreach (var item in ViewBag.class01)
        {
            <p>
                @Html.ActionLink($"{item.cName}", "LoginTeacherIndex", new { cId = item.cId })
            </p>
        }
    </div>
    <div class="col-md-9">
        <table class="table">
            <tr>
                <th>
                    科目
                </th>
                <th>
                    老師姓名
                </th>
                <th>
                    性別
                </th>
                <th>
                    價錢
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TableClasss1091606.cName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tGender)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.tPrice)
                    </th>
                    <td>
                        @Html.ActionLink("加入", "CartAdd", new { tId = item.tId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="col-md-offset-3">@Html.PagedListPager(Model, page => Url.Action("LoginAllpageIndex", new { page }))</div>
